body {
    /* background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center; */
    /* background-color: #166d3b;
    background-image: linear-gradient( #16693a, #0c6332, #225337, #000000 90%); */
    background-image: url(../images/BarConnect4.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: black
    }

h1 {
    padding: 45px;
    text-align: center;
    background-image: url(../images/connect4.jpeg);
    background-repeat: space;
    background-position: center;
}

p {
    word-wrap: break-word;
    margin: 10px;
}

#welcome {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    left: 0;
    top: 0;
    z-index: 1;
    overflow: auto;
    position: fixed;
    display: none;
}

#welcome-text {
    background-color: gainsboro;
    opacity: 0.75;
    height: 320px;
    width: 520px;
    border-radius: 4px;
    margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#welcome-footer {
    text-align: center;
}

#restart {
    padding: 14px 18px;
    background-color: orangered;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#gameBoard-footer {
    text-align: center;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.column>div {
    margin: 1px;
    border: solid 3px gold;
    font-size: 35px;
    width: 65px;
    height: 65px;
    text-align: center;
    padding: 0%;
    line-height: 50px;
    background-color: lightgray;
    color: darkgrey;
    
}

.gameBoard {
    border: solid 3px gold;
    border-radius: 5%;
    background-image: linear-gradient(palegoldenrod, lightgoldenrodyellow, lightyellow, palegoldenrod);
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 525px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    justify-content: center;
}

.window-buttons {
    padding: 14px 18px;
    background-color: orangered;
    background-image: linear-gradient( orangered,maroon);
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.window-buttons:hover {
    background-color: rgba(212, 47, 18, 0.993);
    background-image: linear-gradient(maroon, orangered)
}

.circle:hover {
    background-color: lightyellow;
    background-image: radial-gradient(silver, lightyellow);
}

.circle {
    cursor: grab;
    border-radius: 50%;
    /* background-image: linear-gradient(lightgrey, ); */
}

.black {
    background-color: black !important;
    background-image: radial-gradient(darkslategrey, black);
}

.black:hover {
    background-image: radial-gradient(black, darkslategrey);
}

.red {
    background-color: red !important;
    background-image: radial-gradient(red, maroon);
}

.red:hover {
    background-image: radial-gradient(maroon, red);
}

#modal {
    background-color: #dcdcdc !important;
    background-position: center;
    z-index: 2;
    display: flex;
    justify-content: center ;
    vertical-align: middle;
    opacity: 0.85;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 500px;
    height: 100px;
    display: none;
    align-items: center;
    margin: auto;
    overflow: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#modal-text {
    border-radius: 4px;
    padding: 25px 50px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
